[Desktop Entry]
Encoding=UTF-8
Name=Link to Memoria Beca Coches - Online LaTeX Editor Overleaf
Type=Link
URL=https://www.overleaf.com/project/5c63d9455814140b3af2932b
Icon=text-html
Name[en_US]=Overleaf
