[Desktop Entry]
Encoding=UTF-8
Name=Elegoo doc
Type=Link
URL=https://www.elegoo.com/tutorial/Elegoo Smart Robot Car Kit V3.0.2019.01.02.zip
Icon=text-html
Name[en_US]=Elegoo v3.0
