[Desktop Entry]
Encoding=UTF-8
Name=Conectar motores CC
Type=Link
URL=https://leantec.es/blog/33_Como-controlar-2-motores-de-C-C--con-el-L298N.html
Icon=text-html
Name[en_US]=Motores
